<h1><%= @prompt.text %></h1>
<% if current_user.curator? %>
  <%= link_to "Delete Prompt", prompt_path(@prompt), method: :delete %>
<% end %>

<% @choices.each do |choice| %>
  <% if current_user %>
    <% if current_user.voted_for? choice %>
      <%= link_to "Unvote", unvote_choice_path(choice) %>
    <% else %>
      <%= link_to "Vote", vote_choice_path(choice) %>
    <% end %>
  <% end %>
  <%= Vote.where("votable_type = 'Choice' AND votable_id = #{choice.id}").size %>
  <%= choice.text %><br />
<% end %>

<% if current_user %>
  <h2><%= render "./choices/form",prompt:@prompt,choice:@choice %></h2>
<% end %>
<br>

<% if current_user %>
  <h2><%= render "./comments/form",prompt:@prompt,comment:@comment %></h2>
<% end %>
<br>
<% @comments.each do |comment| %>
  <%= comment.text %><br />
  <em><%= "-#{comment.user.email}" %></em><br />
  <br>
<% end %>
