<h1>Prompt Archives</h1>
<% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= link_to "Add Prompt", new_prompt_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<br />

<% @prompts.each do |prompt| %>
  <%= prompt.votes.size %>
  <%= link_to prompt.text, prompt_path(prompt) %><br />
<% end %>
