<h1>Prompt Archives</h1>
<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%= link_to "Add prompt", new_prompt_path %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

<br />

<% @prompts.each do |prompt| %>
  <%= prompt.votes.size %>
<%= link_to "#{prompt.text} #{'[IMMUTABLE]' unless prompt.immutable.blank?}", prompt_path(prompt) %><br />
<% end %>
