<!DOCTYPE html>
<html>
<head>
  <title>SelfGovern</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="logo" href="<%= root_path %>"></a>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "To Do List", to_do_index_path %>
        </li>
        <li>
          <%= link_to "Archives Index", archives_index_path %>
        </li>
        <li>
          <%= link_to "Analytics", analytics_path %>
        </li>
        <li>
          <a href="https://github.com/justuseapen/self-govern/blob/master/README.md">About</a>
        </li>
        <% if current_user %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% flash.each do |name, msg| %>
  <div data-alert class="alert-box">
    <%= msg %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div id="content" class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><%= yield %></div>
    <div class="col-sm-4"></div>
  </div>
</div>

</body>
</html>
