<!DOCTYPE html>
<html>
<head>
  <title>SelfGovern</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Self-Govern", root_path %> // <a href="https://github.com/justuseapen/self-govern/blob/master/README.md">About</a>
<br>
<% flash.each do |name, msg| %>
  <div data-alert class="alert-box">
    <%= msg %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<%= yield %>

</body>
</html>
